.cta{
    display: flex;
    width: 1030px;
    background: linear-gradient(to right,rgba(174, 103, 250, 1),
    rgba(244, 152, 103, 1));
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 11px;
    height: 50px;
    margin: 0 auto;
}
.ctacontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ctacontent .ctap1{
    font-size: 10px;
    font-family: Manrope;
    font-weight: 800;
    color: rgba(14, 14, 14, 1);
    margin: 0;
}
.ctacontent .ctap2{
    font-size: 24px;
    font-weight: 800;
    font-family: Manrope;
    color: rgba(0, 0, 0, 1);
    margin: 0;
}
.cta button{
    background-color: rgba(0, 0, 0, 1);
    width: 180px;
    height: 59px;
    border-radius: 50px;
    color: rgba(255, 255, 255, 1);
}
@media (min-width:1300px) and (max-width:1440px){
    .cta {
        width: 1230px;
        height: 56px;
    }
    .ctacontent .ctap1 {
        font-size: 14px;}
    .cta button{
        font-size: 17px;
    }
}
@media only screen and (max-width:1024px){
    .cta button{
        width: 156px;
        height: 52px;
    }
    .ctacontent .ctap2 {
        font-size: 20px;
    }
    .ctacontent .ctap1 {
        font-size: 10px;
    }
    .cta {
        width: 868px;
        height: 34px;
    }
}
@media only screen and (max-width:768px){
    .cta button {
        width: 130px;
        height: 50px;
    }
    .ctacontent .ctap2 {
        font-size: 15px;
    }
    .ctacontent .ctap1 {
        font-size: 8px;
    }
    .cta {
        width: 636px;
        height: 27px;
    }
}
@media only screen and (max-width:426px){
    .cta {
        width: 357px;
        height: 16px;
    }
    .ctacontent .ctap1 {
        font-size: 6px;
    }
    .ctacontent .ctap2 {
        font-size: 8px;
    }
    .cta button {
        width: 102px;
        height: 36px;
        font-size: 10px;
    }
}